.name {
    text-align: center;
    color: white;
    top: 235px;
    position: relative;
}

.social {
    width: 25px;
    height: 25px;
    display: inline;
}

.foot-1 {
    position: relative;
    height: 50px;
    background-color: #58595B;
}

.foot-2 {
    position: relative;
    height: 50px;
    background-color: #414042;
}

.what {
    width: 300px;
    position: relative;
    top: -45px;
    left: 960px;
}

.me {
    width: 100%;
    position: absolute;
    top: 675px;
}

.who {
    position: relative;
    top: 30px;
    left: 20px;
    width: 300px;

}

.para {
    position: absolute;
    right: 175px;
    top: 120px;
    font-size: larger;
}

.resume {
    width: 150px;
    position: absolute;
    top: 165px;
    left: -45px;
}

.nav {
    height: 50px;
}

.bar {
    background-color: #414042;
    height: 50px;
}

.parallax-container {
    height: 640px;
    width: 100%;
    position: relative;
    top: -15px;
}

.drop {
   width: 120px;
}

.nav-logo {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -93px;
    left: -78px;
}

.dropdown-content li>a {
   color: #000 !important;
}

.dropdown-content {
   background-color: #f97082;
}

.work_btn {
    padding-right: 30px;
    background-color: #FF8080;
    padding-left: 30px;
    left: 43%;
    top: 275px;
}

.btn:hover, .btn-large:hover {
    background-color: #FF8080;
}

.tri-img {
    width: 100%;
    height: 350px;
    position: relative;
    top: -15px;
}

#be {
    position: relative;
    left: 20px;
    top: -200px;
    width: 300px;
}

#fe {
    position: relative;
    left: 30px;
    top: -195px;
    width: 300px;
}

#ts {
    position: relative;
    left: 90px;
    top: -200px;
    width: 300px;
}

#do {
    width: 100%;
    height: 400px;
    background-color: #414042;
    position: relative;
    top: -20px;
}

#footwords {
    text-align: center;
    color: white;
    position: relative;
    top: 25%;
}

#ham {
    height: 200px;
    width: 200px;
    position: absolute;
    top: -75px;
    right: -68px
}
