h2, h5 {
  text-align: center;
  vertical-align: middle;
  color: white;
}
.parallax-container {
   height: 600px;
 }

 .drop {
   width: 120px;
 }

 .nav-logo {
   width: 60px;
   height: 60px;
   padding: 10px;
 }

 .dropdown-content li>a {
   color: #000 !important;
 }

 .dropdown-content {
   background-color: #f97082;
 }

 .work_btn {
   margin-left: 43%;
   padding-top: 17px;
   padding-bottom: 45px;
   padding-left: 50px;
   padding-right: 50px;
 }

 .who {
   color: #f97082;
   padding-left: 50px;
 }

 .i_am {
   color: black;
   padding-left: 50px;
 }

 .para {
   text-align: right;
 }

#ham {
  height: 60px;
  width: 60px;
  padding: 10px;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid blue;
  border-left: 100px solid transparent;
}
