h1 {
  font-size: 20;
  font-family: cursive;
  font-style: italic;
  text-align: center;
}
nav {
  background-color: blue;
  padding: 25px;
  font-size: 14;
}
a {
  padding: 40px;
  text-decoration: none;
}
img {
  display: block;
}
