<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="CSS/beeCSS.css">
<head>
	<header>
	<title>About Me!</title>
	<h1>Autobiography!</h1>
	<nav>
		<a href="index.html">Home</a>
		<a href="work.html">Work</a>
		<a href="aboutme.html">About Me</a>
	</nav>
</header>
</head>
<body>
	<img id="Bee" src = "Images/Bee.jpg" alt="Pic of Bee" id="Bee" ></img>
	<h2>Bee</h2>
	<p>I am in love with the most beautiful girl in the entire world <br>
	  Her name is Brielle Reddington and she is going to be my wife. <br>
		She waits for me in Jersey as I build a career and a future for<br>
	  us. I love you so much Brielle. I'm so sad I don't get to see  <br>
	  my bumblebee for my birthday, but I am counting the moments    <br>
	  until I see you again.    </p>

  <h3> Social Media Buttons</h3>
	<div class = "social-buttons">
		<a href="https://www.facebook.com/IamDanF" class = "social-button facebook"><img id = "FBIcon" src="Images/fbicon.png" title="Go to my Facebook Page!" width="50px" height="50px" /></a>
		<a href="https://plus.google.com/u/0/112812896708088108962" class = "social-button google"><img src="Images/gpicon.png" title="Check out my Google Plus Profile!" width="50px" height="50px" /></a>
		<a href="https://github.com/danfinelli1" class = "social-button github"><img src="Images/ghicon.png" title="Check out my Github Profile!" width="50px" height="50px" /></a>
		<a href="Images/snapcode.png" class = "social-button snapchat"><img src="Images/scicon.png" title="Check out my SnapCode!" width="50px" height="50px" /></a>
		<a href="https://www.instagram.com/danielfinelli/?hl=en" class = "social-button instagram"><img src="Images/igicon.png" title="Check out the link to my Instagram!" width="50px" height="50px" /></a>
	</div>
<script src="main.js"></script>

</body>
<footer></footer>
</html>
